%boton-default {
    border: none;
    padding: 10px;
    border-radius: 05px;
  }
  
  .boton {
    background-color: rgb(252, 46, 224);
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 05px;
  }
  
  .boton-primario {
    @extend .boton;
    background-color: rgb(255, 173, 214);
  }
  
  .boton-secundario {
    @extend %boton-default;
  }