.navegacion{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: medium;
    font-weight: bold;
}
.menu{
    list-style: none;
    display: flex;
    gap: 1rem;
}
nav{
    grid-area: nav;
    background-color: rgb(255, 214, 221);
}

main{
    grid-area: main;
    background-color: rgb(255, 255, 255);
}